<div class="modal fade" id="confirmArchive" tabindex="-1" aria-labelledby="confirmArchiveLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-danger">
        <h1 class="modal-title fs-5" id="confirmArchiveLabel">Êtes-vous sûr d'avoir terminé votre partie ?</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h1><i class="bi bi-exclamation-triangle"></i><br />Danger</h1>
        <p>N'archivez votre annonce que si votre partie est terminée.<br />L'archivage va supprimer le salon et le rôle
          lié à cette annonce.</p>
        <p><strong>Cette action est définitive</strong>.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
        <form method="post" action="/annonces/{{game.id}}/statut/">
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
          <button type="submit" name="status" value="archived" type="button" class="btn btn-danger">Archiver</button>
        </form>
      </div>
    </div>
  </div>
</div>