<div class="modal fade" id="editPlayers" tabindex="-1" aria-labelledby="editPlayers" aria-hidden="true">
  <form method="post" action="/annonces/{{game.id}}/gerer/">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="editPLayersLabel">Gérer les joueur·euses</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div class="accordion" id="accordionManagePlayers">
                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#manage" aria-expanded="true" aria-controls="manage">
                      Gérer les inscriptions
                    </button>
                  </h2>
                  <div id="manage" class="accordion-collapse collapse show" data-bs-parent="#accordionManagePlayers">
                    <div class="accordion-body">
                      <p>Les joueur·euses inscrit·es s'affichent ci-dessous. Pour désinscrire quelqu'un, décochez la·le puis cliquez sur le bouton <strong>confirmer</strong>. Il est possible de décocher une ou plusieurs personnes avant de confirmer.</p>
                      <div class="row gy-4 p-4">
                        {% if game.players|length > 0 %} {% for player in game.players %}
                        <div class="col">
                            <figure class="figure mx-auto d-block position-relative">
                                <div class="text-center"><img src="{{ player.avatar }}" class="figure-img img-fluid rounded-circle" alt="{{ player.name }}" width="30" height="30"></div>
                                  <figcaption class="figure-caption text-center">{{ player.name }}</figcaption>
                                  <input class="form-check-input" type="checkbox" role="switch" id="register{{ player.id }}" name="{{ player.id }}" checked>
                            </figure>
                        </div>
                        {% endfor %} {% else %}
                        <p class="text-center">Aucun·e joueur·euse pour le moment.</p>
                        {% endif %}
                        <button type="submit" class="btn btn-outline-success" name="action" value="manage"><i class="bi bi-check2-circle"></i>Confirmer la sélection</button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#addPlayer" aria-expanded="false" aria-controls="addPlayer">
                      Ajouter un·e joueur·euse
                    </button>
                  </h2>
                  <div id="addPlayer" class="accordion-collapse collapse" data-bs-parent="#accordionManagePlayers">
                    <div class="accordion-body">
                      <p>Pour ajouter un·e joueur·euse, vous aurez besoin de son ID Discord. Si vous ne savez pas comment le trouver, vous pouvez consulter <a href="https://support.discord.com/hc/fr/articles/206346498-O%C3%B9-trouver-l-ID-de-mon-compte-utilisateur-serveur-message" target="_blank" rel="noopener noreferrer">cet article.</a></p>
                      <div class="row gy-4 p-4">
                        <input type="text" class="form-control" id="discordID" placeholder="ID Discord" name="discord_id">
                        <button type="submit" class="btn btn-outline-primary" name="action" value="add"><i class="bi bi-person-add"></i>Ajouter</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
            </div>
        </div>
    </div>
  </form>
</div>