Flask==2.2.2
Flask-Discord==0.1.69
Flask-Migrate==4.0.0
Flask-SQLAlchemy==3.0.2
Flask-WTF==1.0.1
Flask-Caching==2.3.0
redis==5.0.8
gunicorn==20.1.0
psutil==5.9.4
psycopg2-binary==2.9.5
Werkzeug==2.2.3
pyyaml==6.0
schema==0.7.5
tenacity==9.0.0