<div class="col-lg-4 p-3">
  <div class="row">
      {% if game.status == 'closed' %}
      <h5><span class="badge text-bg-dark">Complet</span></h5>
      {% elif game.status == 'draft' %}
      <h5><span class="badge text-bg-info">Brouillon</span></h5>
      {% elif game.status == 'archived' %}
      <h5><span class="badge text-bg-danger">Archivée</span></h5>
      {% endif %}
  </div>
  <div class="row pb-2">
      <div class="col"><strong>Type de session</strong></div>
      <div class="col text-center"> {% if game.type == 'campaign' %}Campagne{% else %}One Shot{% endif %}</div>
  </div>
  <div class="row pb-2">
      <div class="col"><strong>Système</strong></div>
      <div class="col text-center"> {{ game.system.name }}</div>
  </div>
  {% if game.vtt %}
  <div class="row pb-2">
      <div class="col"><strong>VTT</strong></div>
      <div class="col text-center"> {{ game.vtt.name }}</div>
  </div>
  {% endif %}
  <div class="row">
      <strong class="pb-2">Description</strong>
      <pre>{{ game.description }}</pre>
  </div>
  {% if game.complement != "" %}
  <div class="row pb-2">
      <strong class="pb-2">Informations complémentaires</strong>
      <p class="lh-lg"> {{ game.complement }}</p>
  </div>
  {% endif %}
</div>