<div class="col-lg-4 p-3">
  <div class="row">
      <div class="figure">
          <img src="{{ game.img }}" class="figure-img img-fluid rounded img-preview" alt="{{ game.name }}">
      </div>
  </div>
  {% if payload['user_id'] != game.gm.id and game.status == "open" %}
  <form class="row" method="post" action="/annonces/{{ game.id }}/inscription/">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
      <span class="d-inline-block d-grid" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="{% if 'user_id' not in payload %}Vous devez vous connecter pour pouvoir vous inscrire.{% endif %}">
            {% if not is_player %}
            <button type="submit" class="btn btn-success" {% if 'user_id' not in payload or (payload['user_id'] == game.gm.id) %}disabled{% endif %}>
                S'inscrire
            </button>
            {% endif %}
        </span>
  </form>
  {% endif %}
  <div class="row overflow-y-auto session-box">
    <div class="row text-center pb-2">
      <strong>Liste des sessions</strong>
    </div>
    {% for session in game.sessions|sort(attribute='start') %}
      <div class="row text-center pb-2">
        <div class="btn-toolbar justify-content-center">
        <add-to-calendar-button
          name="{{ game.name }} par {{ game.gm.name }} #{{loop.index}}"
          options="'Apple','Google','iCal','Outlook.com','Yahoo'"
          location="https://discord.com/channels/789486751571116053/1115719113071927406"
          startDate="{{ session.start|format_datetime('%Y-%m-%d') }}"
          endDate="{{ session.end|format_datetime('%Y-%m-%d') }}"
          startTime="{{ session.start|format_datetime('%H:%M') }}"
          endTime="{{ session.end|format_datetime('%H:%M') }}"
          timeZone="Europe/Paris"
          description="{{ game.type }} - {{ game.gm.name }}"
          size="1"
          listStyle="overlay"
          hideTextLabelButton
          language="fr"
          buttonStyle="date"
          inline
        ></add-to-calendar-button>
        {% if payload['user_id'] == game.gm.id or payload['is_admin'] %}
        <div class="btn-group pb-4 ps-4">
          <button type="button" class="btn btn-sm btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#editSessionModal{{session.id}}"><i class="bi bi-pencil-square"></i></button>
          {% include 'game_details/modals/edit_session.html' %}
          <button type="button" class="btn btn-sm btn-danger" data-bs-toggle="modal" data-bs-target="#deleteSessionModal{{session.id}}"><i class="bi bi-trash"></i></button>
          {% include 'game_details/modals/delete_session.html' %}
        </div>
        {% endif %}
      </div>
      </div>
    {% endfor %}
    {% if payload['user_id'] == game.gm.id or payload['is_admin'] %}
    <div class="row text-center">
      <div class="col align-self-center">
        <button type="button" class="btn btn-outline-secondary btn-sm" data-bs-toggle="modal" data-bs-target="#addSessionModal"><i class="bi bi-calendar-plus"></i> Ajouter</button>
      </div>
    </div>
    {% include 'game_details/modals/add_session.html' %}
    {% endif %}
  </div>
</div>