* {
    font-family: 'Ysabeau', Helvetica, Arial, sans-serif
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: 900;
}

figure {
    margin: 0 0 0;
}

.img-preview {
    width: 100%;
    height: 50vw;
    object-fit: cover;
}

@media (min-width:500px) {
    .img-preview {
        height: 15vw;
    }
}

.title {
    font-family: 'Ysabeau', cursive;
    font-size: 1.8em;
    padding: 0;
}

.navbar {
    --bs-navbar-padding-y: 0.3rem;
}

.bi {
    width: 1em;
    height: 1em;
    vertical-align: -0.125em;
    fill: currentColor;
}

.nav-link,
.nav-link:hover,
.nav-link:focus,
.btn.show {
    color: white;
}

.CodeMirror.cm-s-paper,
.tagify__input {
    color: currentColor;
    background: none;
}

.editor-toolbar a.fa {
    color: currentColor!important;
}

.card:hover {
    cursor: pointer;
    transform-style: preserve-3d;
    transform: perspective(1000px);
    z-index: 20;
}

.card * {
    transform: translateZ(10px);
}