{% extends 'base.html' %} {% block title %}{{ title }}{% endblock %} {% block content %}

<h1>{{ title }}</h1>
<div class="row py-4">
    {% if items|length == 0 %}
    <p>Aucun {{title}}.</p>
    {% else %} {% for i in items|sort(attribute='name') %}
    <div class="row">
        <form method="post" action="/{{ item }}/{{ i.id }}/" class="row needs-validation" novalidate>
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            {% if item == "channels" %}
            <div class="input-group mb-3">
              <span class="input-group-text" id="channel_id">ID de la catégorie : </span>
              <input type="text" class="form-control" name="channel_id" aria-label="Nom" aria-describedby="ID" value="{{ i.id }}" required>
              <span class="input-group-text">Type de la catégorie : </span>
                <select class="form-select" aria-label="Type de catégorie" name="channel_type" required>
                  <option value="oneshot" {% if i.type =="oneshot" %}selected{% endif %}>OS</option>
                  <option value="campaign" {% if i.type =="campaign" %}selected{% endif %}>Campagne</option>
                </select>
                <span class="input-group-text">Nombre de salons dans la catégorie : </span>
                <input type="number" class="form-control" id="channel_size" name="channel_size" min="0" max="50" value="{{ i.size }}" required>
              <button class="btn btn-success" type="submit">Enregistrer</button>
            </div>
            {% else %}
            <input type="hidden" name="{{ i.name }}" value="{{ i.id }}">
            <div class="input-group mb-3">
                <span class="input-group-text" id="name">Nom : </span>
                <input type="text" class="form-control" name="name" placeholder="Nom" aria-label="Nom" aria-describedby="name" value="{{ i.name }}">
                <span class="input-group-text" id="icon">Illustration : </span>
                <input type="text" class="form-control" name="icon" placeholder="URL du logo" aria-label="Icon" aria-describedby="icon" {% if i.icon %}value="{{ i.icon }}" {% endif %}>
                <button class="btn btn-success" type="submit">Enregistrer</button>
            </div>
            {% endif %}
        </form>
    </div>
    {% endfor %} {% endif %}
    <div class="row">
        <div class="modal fade" id="addItemModal" tabindex="-1" aria-labelledby="addItemModal" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5">Nouveau {{ title }}</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="input-group mb-2">
                            <div class="form-floating">
                                <form method="post" action="/{{ item }}/" class="row needs-validation" novalidate>
                                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                                    {% if item == "channels" %}
                                    <div class="input-group mb-3">
                                      <span class="input-group-text" id="channel_id">ID de la catégorie : </span>
                                      <input type="text" class="form-control" name="channel_id" aria-label="Nom" aria-describedby="channel_id" required>
                                    </div>
                                    <div class="input-group mb-3">
                                      <span class="input-group-text">Type de la catégorie : </span>
                                      <select class="form-select" aria-label="Type de catégorie" name="channel_type" required>
                                        <option value="oneshot">OS</option>
                                        <option value="campaign">Campagne</option>
                                      </select>
                                    </div>
                                    <div class="input-group mb-3">
                                      <span class="input-group-text">Nombre de salons dans la catégorie : </span>
                                      <input type="number" class="form-control" id="channel_size" name="channel_size" min="0" max="50" value="0" required>
                                    </div>
                                    {% else %}
                                    <div class="input-group mb-3">
                                        <span class="input-group-text" id="name">Nom : </span>
                                        <input type="text" class="form-control" name="name" placeholder="Nom" aria-label="Nom" aria-describedby="name">
                                    </div>
                                    <div class="input-group mb-3">
                                        <span class="input-group-text" id="icon">Illustration : </span>
                                        <input type="text" class="form-control" name="icon" placeholder="URL du logo" aria-label="Icon" aria-describedby="icon">
                                    </div>
                                    {% endif %}
                                    <button class="btn btn-success" type="submit">Enregistrer</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <p>Vous pouvez utiliser <a href="https://imgur.com/upload" target="_blank" rel="noopener">imgur</a> pour uploader vos propres images. Ensuite, faites un clic-droit sur l'image puis "Copier le lien de l'image".</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="justify-content-md-end d-grid p-4">
            <button class="btn btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#addItemModal">Ajouter</button>
        </div>
    </div>
</div>
{% endblock %}