{% extends 'base.j2' %}
{% block title %}Calendrier{% endblock %}
{% block head %}{{ super() }}
{% for url in asset_css('assets/js/calendar.js') %}
<link rel="stylesheet" href="{{ url }}">
{% endfor %}
{% endblock%}
{% block content %}
<h1 class="text-center font-black text-2xl my-4">
  <i class="ph ph-calendar"></i> Le Calendrier du Club
</h1>
<div class="p-4">
  <div id="month-games-calendar" class="w-full"></div>
</div>
{% endblock %}
{% block scripts %}
{{ super() }}
<script src="{{ asset('assets/js/calendar.js') }}"></script>
{% endblock %}