{% extends 'base.html' %} {% block head %} {{ super() }}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr@4.6.13/dist/flatpickr.min.css" integrity="sha256-GzSkJVLJbxDk36qko2cnawOGiqz/Y8GsQv/jMTUrx1Q=" crossorigin="anonymous">
<link href="https://cdn.jsdelivr.net/npm/@yaireo/tagify/dist/tagify.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/simplemde@1.11.2/dist/simplemde.min.css" integrity="sha256-Is0XNfNX8KF/70J2nv8Qe6BWyiXrtFxKfJBHoDgNAEM=" crossorigin="anonymous"> {% endblock %} {% block title %}Poster une annonce{% endblock %} {% block content %}
<h1>Nouvelle annonce</h1>
<form method="post" action="/annonce/" class="row needs-validation" novalidate>
    <div class="col-lg-5 p-3">
        <div class="row">
            <div class="w-75 mb-2">
                <label for="name" class="form-label"><strong>Nom :</strong></label>
                <input type="text" class="form-control" name="name" aria-describedby="Nom" autocomplete="off" required>
                <div class="invalid-feedback">
                    Vous devez choisir un nom pour votre annonce.
                </div>
            </div>
        </div>
        <div class="row">
            <div class="w-75 mb-2">
                <label for="system" class="form-label"><strong>Système :</strong></label>
                <input type="text" class="form-control" name="system" aria-describedby="Système" required>
                <div class="invalid-feedback">
                    Vous devez choisir un système de jeu.
                </div>
            </div>
        </div>
        <div class="row">
            <div class="mb-2 w-75">
                <label for="description" class="form-label"><strong>Description :</strong></label>
                <textarea class="form-control" name="description" id="md-edit" rows="14" spellcheck="true" required></textarea>
                <div class="invalid-feedback">
                    Vous devez entrer une description.
                </div>
                <div id="descHelp" class="form-text">Vous pouvez utiliser la syntaxe
                    <a href="https://docs.framasoft.org/fr/grav/markdown.html" target="_blank" rel="noopener">Markdown</a> pour la description.
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 p-3">
        <div class="row">
            <div class="mb-2">
                <label for="type" class="form-label"><strong>Type de session :</strong></label>
                <div class="mb-2">
                    <input type="radio" class="btn-check" name="type" value="oneshot" id="oneshot" autocomplete="off" checked>
                    <label class="btn btn-outline-success btn-sm" for="oneshot">One Shot</label>
                    <input type="radio" class="btn-check" name="type" value="campaign" id="campaign" autocomplete="off">
                    <label class="btn btn-outline-primary btn-sm" for="campaign">Campagne</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="w-75 mb-2">
                <label for="date" class="form-label"><strong>Date :</strong></label>
                <input id="calendar" name="date" class="flatpickr flatpickr-input active form-control" type="text" autocomplete="off" required>
                <div class="invalid-feedback">
                    Vous devez entrer une date.
                </div>
            </div>
        </div>
        <div class="row">
            <div class="w-75 mb-2">
                <label for="length" class="form-label"><strong>Durée :</strong></label>
                <div class="input-group mb-3">
                    <select class="form-select" aria-label="Durée" name="length" required>
                    <option value="1" selected>1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="~5">~5</option>
                    <option value="~10">~10</option>
                    <option value="10+">10+</option>
                    <option value="20+">20+</option>
                  </select>
                    <label class="input-group-text" for="length">session(s)</label>
                </div>
                <div class="invalid-feedback">
                    Vous devez choisir une durée.
                </div>
            </div>
        </div>
        <div class="row">
            <div class="w-75 mb-2">
                <label for="party_size" class="form-label"><strong>Nombre de joueur·euses :</strong></label>
                <input type="number" step="1" max="99" value="4" name="party_size" class="form-control" required>
                <div class="invalid-feedback">
                    Vous devez entrer un nombre de joueur·euses.
                </div>
            </div>
        </div>
        <div class="row">
            <label for="restriction" class="form-label"><strong>Avertissement :</strong></label>
            <div class="mb-2">
                <input type="radio" class="btn-check" name="restriction" value="all" id="all" autocomplete="off" checked>
                <label class="btn btn-outline-success btn-sm" for="all">Tout public</label>
                <input type="radio" class="btn-check" name="restriction" value="16+" id="16" autocomplete="off">
                <label class="btn btn-outline-warning btn-sm" for="16">16+</label>
                <input type="radio" class="btn-check" name="restriction" value="18+" id="18" autocomplete="off">
                <label class="btn btn-outline-danger btn-sm" for="18">18+</label>
            </div>
        </div>
        <div class="row">
            <div class="mb-2 w-75">
                <label for="restriction_tags" class="form-label"><strong>Thèmes choquants :</strong></label>
                <textarea class="form-control" name="restriction_tags" id="restriction_tags" rows="2" aria-describedby="RestrictionTags"></textarea>
                <div id="tagsHelp" class="form-text">Séparer chaque thème par une virgule.</div>
            </div>
        </div>
        <div class="row">
            <div class="mb-2">
                <label class="form-label"><strong>Options :</strong></label>
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" role="switch" name="pregen">
                    <label class="form-check-label" for="pregen">Prétirés</label>
                </div>
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" role="switch" name="party_selection">
                    <label class="form-check-label" for="party_selection">Sélection de joueur·euses</label>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 p-3">
        <div class="row">
            <div class="figure"><img id="imgPreview" alt="placeholder" src="/static/img/placeholder.jpeg" class="figure-img img-fluid rounded img-preview" onerror="this.src='/static/img/placeholder.jpeg'"></div>
            <div class="modal fade" id="uploadModal" tabindex="-1" aria-labelledby="uploadImageModal" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5">Choisir une image</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="input-group mb-2">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="imgLink" name="img">
                                    <label for="imgLink" class="form-label">Lien vers l'image :</label>
                                </div>
                                <button id="imgSelect" type="button" class="btn btn-primary" data-bs-dismiss="modal" aria-label="Close">Choisir</button>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <p>Vous pouvez utiliser <a href="https://imgur.com/upload" target="_blank" rel="noopener">imgur</a> pour uploader vos propres images. Ensuite, faites un clic-droit sur l'image puis "Copier le lien de l'image".</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mx-auto">
            <button class="btn btn-outline-secondary" type="button" data-bs-toggle="modal" data-bs-target="#uploadModal">Choisir une image</button>
        </div>
        <div class="row pt-2 mx-auto">
            <button type="submit" name="action" value="draft" class="btn btn-secondary">Enregistrer</button>
        </div>
        <div class="row pt-2 mx-auto">
            <button type="submit" name="action" value="open" class="btn btn-primary">Publier</button>
        </div>
    </div>
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <input type="hidden" name="gm_id" value="{{ payload['user_id'] }}">
</form>

{% endblock %} {% block scripts %} {{ super() }}
<script src="https://cdn.jsdelivr.net/npm/@yaireo/tagify@4.17.8/dist/tagify.min.js" integrity="sha256-cBY/Uc7f5GDeWDnEKtUMG00AZdN2Iwp6LqslivKpm2M=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/flatpickr@4.6.13/dist/flatpickr.min.js" integrity="sha256-Huqxy3eUcaCwqqk92RwusapTfWlvAasF6p2rxV6FJaE=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/flatpickr@4.6.13/dist/l10n/fr.js" integrity="sha256-+xpDzJZ/BxtMFrLCduljhDclmRS8Gr2W3UpKAxMBC9g=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/simplemde@1.11.2/dist/simplemde.min.js" integrity="sha256-6sZs7OGP0Uzcl7UDsLaNsy1K0KTZx1+6yEVrRJMn2IM=" crossorigin="anonymous"></script>
<script src="/static/js/game-form.js"></script>
{% endblock %}