{% extends 'base.html' %} {% block title %}{{ game.name }}{% endblock %} {% block content %}
<div class="container">
    <div class="row">
        <h1>{{ game.name }}</h1>
    </div>
    <div class="row">
        <div class="col-lg-5 p-3">
            <div class="row">
                <h4><span class="badge text-bg-{% if game.type == 'campaign' %}primary">Campagne{% else %}success">One Shot{% endif %}</span> <span class="badge text-bg-secondary">{{ game.system.name }}</span>{% if game.vtt %} <span class="badge text-bg-secondary">{{ game.vtt.name }}</span>{%
                    endif %}</h4>
                {% if game.status == 'closed' %}
                <h5><span class="badge text-bg-dark">Complet</span></h5>{% endif %} {% if game.status == 'draft' %}
                <h5><span class="badge text-bg-info">Brouillon</span></h5>
                {% endif %} {% if game.status == 'archived' %}
                <h5><span class="badge text-bg-danger">Archivée</span></h5>
                {% endif %}
            </div>
            <div class="row">
                <p class="lh-lg">{{ game.description }}</p>
            </div>
        </div>
        <div class="col-lg-4 p-3">
            <div class="row pb-2">
                <div class="col"><strong>Date</strong></div>
                <div class="col text-center"> {{ game.date|format_datetime }}</div>
            </div>
            <div class="row pb-2">
                <div class="col"><strong>Durée</strong></div>
                <div class="col text-center"> {{ game.length }}</div>
            </div>
            <div class="row pb-2">
                <div class="col"><strong>Avertissement</strong></div>
                <div class="col text-center">
                    {% if game.restriction == 'all' %}
                    <span class="badge text-bg-success">Tout public</span> {% elif game.restriction == '16+' %}
                    <span class="badge text-bg-warning">16+</span> {% else %}
                    <span class="badge text-bg-danger">18+</span> {% endif %} {% if game.restriction_tags %} {% set tags = game.restriction_tags.split(',') %} {% endif %} {% for tag in tags %}<span class="badge bg-secondary">{{ tag }}</span> {% endfor
                    %}
                </div>
            </div>
            <div class="row pb-2">
                <div class="col"><strong>Maître·sse du Jeu</strong></div>
                <div class="col">
                    <figure class="figure mx-auto d-block">
                        <div class="text-center">
                            <img src="{{ game.gm.avatar }}" class="figure-img img-fluid rounded-circle" alt="{{ game.gm.name }}" width="30" height="30">
                        </div>
                        <figcaption class="figure-caption text-center">{{ game.gm.name }}</figcaption>
                    </figure>
                </div>
            </div>
            <div class="row pb-2">
                <div class="col"><strong>Nombre de joueur·euses souhaité</strong></div>
                <div class="col text-center">{{ game.party_size }} {% if game.party_selection %}(sur sélection){% endif %}</div>
            </div>
            <div class="row pb-2">
                <div class="col"><strong>Joueur·euses inscrit·es</strong></div>
                <div class="col">
                    <div class="row gy-4">
                        {% if game.players|length > 0 %} {% for player in game.players %}
                        <div class="col">
                            <figure class="figure mx-auto d-block position-relative">
                                <div class="text-center"><img src="{{ player.avatar }}" class="figure-img img-fluid rounded-circle" alt="{{ player.name }}" width="30" height="30"></div>
                                <figcaption class="figure-caption text-center">{{ player.name }}</figcaption>
                            </figure>
                        </div>
                        {% endfor %} {% else %}
                        <p class="text-center">Aucun·e joueur·euses pour le moment.</p>
                        {% endif %}
                    </div>

                </div>
            </div>
        </div>
        <div class="col-lg-3 p-3">
            <div class="row">
                <div class="figure">
                    <img src="{{ game.img }}" class="figure-img img-fluid rounded img-preview" alt="{{ game.name }}">
                </div>
            </div>
            {% if payload['user_id'] != game.gm.id %}
            <form class="row" method="post" action="/annonces/{{ game.id }}/inscription/">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <span class="d-inline-block d-grid" tabindex="0" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="{% if 'user_id' not in payload %}Vous devez vous connecter pour pouvoir vous inscrire.{% endif %}">
                      {% if is_player %}
                      <button type="button" class="btn btn-danger" >
                          Se désinscrire
                      </button>
                      {% else %}
                      <button type="submit" class="btn btn-success" {% if 'user_id' not in payload or (payload['user_id'] == game.gm.id) %}disabled{% endif %}>
                          S'inscrire
                      </button>
                      {% endif %}
                  </span>
            </form>
            {% endif %}
        </div>
    </div>
</div>
<div class="row text-center">
    <div class="col align-self-center">
        {% if payload['user_id'] == game.gm.id or payload['is_admin'] %}
        <form method="post" action="/annonces/{{game.id}}/statut/">
            <div class="btn-group" role="group" aria-label="Actions du MJ">
                <a href="/annonces/{{game.id}}/editer/" type="button" class="btn btn-primary" data-bs-toggle="tooltip" data-bs-title="Éditer l'annonce."><i class="bi bi-pencil-square"></i> Éditer</a>
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <a href="/annonces/{{game.id}}/gerer/" type="button" class="btn btn-outline-secondary" data-bs-toggle="tooltip" data-bs-title="Gérer les inscriptions."><i class="bi bi-people"></i> Gérer</a>
                <button type="button" class="btn btn-outline-secondary" data-bs-toggle="tooltip" data-bs-title="Ajouter/supprimer une session."><i class="bi bi-calendar4-week"></i> Planifier</button> {% if game.status=='open' %}
                <button type="submit" name="status" value="closed" class="btn btn-outline-danger" data-bs-toggle="tooltip" data-bs-title="Fermer l'annonce aux inscriptions."><i class="bi bi-lock"></i> Fermer</button> {% endif %}{% if game.status == 'closed'%}
                <button type="submit" name="status" value="open" class="btn btn-success" data-bs-toggle="tooltip" data-bs-title="Ouvrir l'annonce aux inscriptions."><i class="bi bi-unlock"></i> Ouvrir</button> {% endif %} {% if game.status != 'archived'
                %}
                <a href="/annonces/{{game.id}}/archiver/" type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#confirmArchive"><i class="bi bi-archive"></i> Archiver</a> {% endif %}
            </div>
            <div class="modal fade" id="confirmArchive" tabindex="-1" aria-labelledby="confirmArchiveLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header bg-danger">
                            <h1 class="modal-title fs-5" id="confirmArchiveLabel">Êtes-vous sûr d'avoir terminé votre partie ?</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <h3><i class="bi bi-exclamation-triangle"></i></h3>
                            <p>N'archivez votre annonce que si votre partie est terminée.</p>
                            <p>L'archivage va supprimer le salon et le rôle lié à cette annonce.</p>
                            <p><strong>Cette action est définitive</strong>.</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                            <button type="submit" name="status" value="archived" type="button" class="btn btn-danger">Archiver</button>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
        </form>
    </div>
</div>
</div>
{% endblock %} {% block scripts %} {{ super() }}
<script src="/static/js/tooltips.js"></script>{% endblock %}