<div id="game-details-container" data-game-id="{{ game.id }}" class="container">
  <div class="row">
    <h1>{{ game.name }}</h1>
  </div>
  <div class="row">
    {% include 'game_details/basics.j2' %}
    {% include 'game_details/requirements.j2' %}
    {% include 'game_details/optional.j2' %}
  </div>
</div>
{% include 'game_details/actions.j2' %}